{% extends "base.html" %}

{% block title %}FRS DB | Person detail{% endblock %}

{% block content %}
    <h1>Person detail</h1>
    <h6>Created @ {{ person.created_at }} Updated @ {{ person.updated_at }}</h6>

    <h3>Person ID: {{ person.person_id }}</h3>

<h2>
    {{ person.first_name }} {{ person.second_name }} {{ person.family_name }}
</h2>

<ul class="list-group">
    <li class="list-group-item">
        <strong>Date of birth:</strong> {{ person.dob }}
    </li>
    <li class="list-group-item">
        <strong>Gender:</strong> {{ person.get_gender_display }}
    </li>
</ul>

<a href="{% url 'persons:index' %}" class="btn btn-secondary mt-3">
    Back to list
</a>
{% endblock %}