{% extends "base.html" %}

{% block title %}FRS DB | Persons list{% endblock %}

{% block content %}
<h1>Persons</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th> # </th>
            <th>PID</th>
            <th>First name</th>
            <th>Second name</th>
            <th>Family name</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ forloop.counter }}. </td>
            <td>
                <a href="{% url 'persons:edit' person.pk %}">
                    {{ person.pk }}
                </a>
            </td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.second_name }}</td>
            <td>{{ person.family_name }}</td>
            <td>{{ person.dob }}</td>
            <td>{{ person.get_gender_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-muted text-center">
                No persons found
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
