{# templates/includes/scan_upload_form.html #}

{% if form.non_field_errors %}
  <div class="alert alert-danger mb-2">
    {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Scan name</label>
    {{ form.scan_name }}
    {% if form.scan_name.errors %}
      <div class="text-danger small">{{ form.scan_name.errors }}</div>
    {% endif %}
  </div>

  <div class="col-md-6">
    <label class="form-label">File</label>
    {{ form.file }}
    {% if form.file.errors %}
      <div class="text-danger small">{{ form.file.errors }}</div>
    {% endif %}
    <div class="form-text">Allowed: PDF/JPEG/PNG</div>
  </div>
</div>